<div class="d-flex w-100 align-items-baseline justify-content-between p-2">
    <span></span>
    <div class="d-flex align-items-baseline justify-content-end gap-2">
        <button class="btn nav-light-text note-text-color"><i class="fa-solid fa-ellipsis"></i></button>
    </div>
</div>